*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.658);
    width: 100vw;
    height: 100vh;
    
}

header{
     width: 100vw;
     height: 75px;
     border-bottom: 1px solid chartreuse;
     display: flex;
     justify-content:space-around;
     text-align: center;
     align-items: center;
     position: fixed;
     padding: 10px 0 auto;
     background-color: #2d29296b;
     
    
     
}


.name h1{
  font-size: 5rem;
  color: chartreuse;
  margin-left: 20px;
  

}



.list a {
   color: #ffffff;
   margin-left: 2rem;
   font-size: 1.4rem;
   text-decoration: none;
   list-style: none;
   padding: 4rem 1rem 1.6rem 1rem ;
   transition: all 400ms ease-in;
   
 
}

.list a:hover{
    background-color: #0505051b;
    border-bottom: 3px solid chartreuse;
    color: chartreuse;
   
    
}


#container {
    width: 100vw;
    height: 100vh;
    background-color: chocolate;
   
   
    
}


.meu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#f7e5e5;
    height: 80%;
    background-color: #03030375;
    
}



.meu-container div h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: transparent;
    padding: 0 10px;
    font-size: 4rem;
    line-height: 4rem;
    animation: witten_tex .5s ease forwards;
  
}


.meu-container div h1:nth-child(1) {
  animation-delay: 1s;
}

.meu-container div h1:nth-child(2) {
    animation-delay: 2s;
}
  

.meu-container div h1:nth-child(3) {
    animation: witten_tex_name 5s ease forwards;
    animation-delay: 3s;
  
  }
  


@keyframes witten_tex{
    100% {
        color:#fff;
    }
}

@keyframes witten_tex_name{
    100% {
        color: chartreuse;
    }
}


.container2 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2rem;
  margin-top: 6rem;
  position: relative;
  cursor: pointer;
 
 
}



h3 {
    font-size: 2rem;
    position: absolute;
    margin-bottom: 8rem;
    margin-right: 15rem;
   
    
}


.container2 ul li {
    list-style: none;
}



h6 {
   display: flex;
   justify-content: center;
   font-size: 11px;
  
  
}



.caixa-direita {
   width: 100vw;
   height: 100vh;
  
  
  
}


.envelope {
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: rgb(0, 255, 255);
  
   
   
}


.envelope img {
    width: 420px;
    height: 480px;
    border-radius: 1rem;
    margin-top: 3rem;
    border: 2px solid #fff;
   
   
   
}


.envelope h1 {
     position: absolute;
     margin-bottom: 32%;
     margin-left: 35%;
     font-size: 3.2rem;
}


.envelope p {
    width: 350px;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-right: 10rem;
    color: #fff;
}



.projetos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
   
    
}


.trabalhos {
    width: 286px;
    height: 188px;
    border: 4px solid #ffffff;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 70px rgb(24, 20, 20);
   
    
    
    
}


  .img {
   width: 278px;
    height: 180px;
    border-radius: 0.5rem;
}


.img2 {
    width: 278px;
    height: 180px;
    border-radius: 0.5rem;
}



.img3 {

    width: 278px;
    height: 180px;
    border-radius: 0.5rem;



}






       /* responsividade */

@media screen and (max-width: 1170px){
    .envelope p {
        width: 100%; 
        max-width: 400px; 
        margin: 1rem auto; 
    }
    .meu-container h1 {
      
        text-align: center;
    }
    .envelope h1{
       color: red;
       width: 250px;
       margin-bottom: 425px;
    
       
    }

    .envelope img {
        width: 100%; 
        max-width: 400px; 
        margin-top: 2rem; 
    }


    

    .projetos {
        flex-direction: column;
        margin-right: 2rem;
        margin: 8rem;
        width: auto;
       
    }


}


           /* responsividade */

@media screen and (max-width: 1055px){
     
    .name h1 {
       
        display: none;
    }
  
}


         /* responsividade */

@media screen and (max-width: 826px){

       .list a {
         display: none;
          
       }


       .header {
        border-bottom: none;
        width: 100%;
       
       }

}




       /* responsividade */

@media screen and (max-width: 790px){
    .meu-container h1 {
     
        text-align: center;
       
        width: 320px;
       
       
    }


    .name h1 {
       
        display: none;
    }

    
    .nome {
        margin-top: 20px;
    }

    

}
           
          /* responsividade */

@media screen and (max-width: 769px) {
    .meu-container {
        width: 100%;
     
    }

    .meu-container h1 {
      
        text-align: center;
    }

        
    .container2 {
        width: 80%; 
    }

    .envelope {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        position: relative;
    }

    .envelope img {
        width: 100%; 
        max-width: 400px; 
        margin-top: 2rem; 
    }

    .envelope h1 {
       
        font-size: 22px;
        margin-right: 18rem;
        margin-top: 45rem; 
    }

    .envelope p {
      
        font-size: 20px;
        width: 640px;           
        margin: 3rem auto; 
        line-height: 28px;
    }


.projetos {
    flex-direction: column;
    margin-right: 2rem;
    margin: 5rem;
    width: auto;

     }

   

    
    .img,
    .img2 {
        width: 100%; 
        height: 180px; 
    }
}




        /* responsividade */

@media screen and (max-width: 675px){

    .envelope h1{
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
    }

}

        /* responsividade */

@media screen and (max-width: 430px){

    .envelope h1{
      margin-right: 120px;
       width: 100%;
       
    }

}

       /* responsividade */

@media screen and (max-width: 400px){

    .envelope img {
       
      display: flex;
      justify-content: center;
    
      
    
    }

    .meu-container {
       width: 100%;
       
    }


    .envelope{
        width: 100%;
      
        
    }
}